h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    margin-top: 7.875vh;
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 90%;
    font-weight: 300;
    letter-spacing: 0.93rem;
    color: hsl(0, 36%, 70%);
}

span {
    color: hsl(0, 6%, 24%);
    font-weight: 600;
}

p {
    width: 78.67vw;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 0 auto;
    font-size: 0.85rem;
    margin-top: 3.8vh;
    color: hsl(0, 36%, 70%);
    line-height: 1.5rem;
}


@media (min-width: 750px) {
    section {
        padding-top: 9.125vh;
    }

    h1 {
        font-size: 5.875vh;
        line-height: 7vh;
        text-align: left;
        width: 30.93vw;
        margin: 0 auto;
        margin-top: 9.125vh;
    }

    p {
        text-align: left;
        width: 30.93vw;
        margin: 0 auto;
        margin-top: 5.25vh;
        font-size: 2vh;
        line-height: 2.8vh;
    }
}
